* {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
}
header {
    background-color: blue;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
main{
    width: 50%;
    margin-left: 25%;
}
#difficulty {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    width: 65%;
}
button{
    padding: 10px;
    width: 30%;
    margin: 0 2%;
}
#flag {
    width: 100%;
}
img {
    border: 1px solid black;
}
label{
    margin-right: 10px;
}
.answers{
    height: 90px;
    width: 80%;
    background-color: green;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    border: none;

    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.answers:hover{
    background-color: blueviolet;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: chocolate;
}